BOT_TOKEN="YOUR_BOT_TOKEN" 
DATABASE_URI="YOUR_MONGODB_CLUSTER_URI"
DOWNLOAD_PATH="pymouse/downloads" # Oprional
LOG_CHANNEL_ID="-1001234567890"
OWNER_ID="1234567890"
SOCKS5_PROXY="SOCKS5_PROXY" # Optional
TELEGRAM_API_URL="YOUR_TELEGRAM_API_URL" # Optional
WEBHOOK_URL="YOUR_WEBHOOK_URL" # Optional